.game-container {
    height: 500px;
    width: 1100px;
    background: rgba(0, 0, 0, 0.831);
    border-radius: 30px;
    border: 3px solid #d1fffb;
    box-shadow: 0 0 30px #d1fffb;
}


.game-container.bottom-hit-effect {
    animation: hit-effect 0.25s forwards;
}


@keyframes hit-effect {
    0% {
        background: #E52020;
    }

    100% {
        background: rgba(0, 0, 0, 0.831);
    }
}