* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.paddle-container {
    display: flex;
    margin: 0 auto;
    height: 10vh;
    justify-content: center;
    align-items: flex-end;
    /* position: fixed; */
    bottom: 0;
    right: 0;
    left: 0;
    /* background-color: aqua; */

}

.paddle-initial {
    width: 80px;
    height: 20px;
    border: 1px solid black;
    background-color: #8a2e2e;
    align-self: flex-end;
    border-radius: 5px;

    /* remember: absoulte elements are relative to their non-static parents, and not from the normal document flow */
    position: absolute;
    cursor: pointer;

    &.touched {
        background: black !important;
    }
}

.paddle-initial:hover {
    background-color: #b13737;
}

.paddle-expanded {
    width: 120px;
    height: 20px;
    border: 1px solid black;
    background-color: #8a2e2e;
    align-self: flex-end;
}